* {
  background-color: black;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.buttons {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  background-color: rebeccapurple;
  padding: 10px 10px 10px 10px;
  width: 475px;
}

.displayMsg {
  position: relative;
  margin-top: 20px;
  margin-left: 40%;
  background-color: darkcyan;
  width: 100px;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
  font-size: x-large;
  color: white;
}
